@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

.cursive {
  font-family: 'Oleo Script', cursive;
font-size: 18px;

}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input {
  all: unset;
}

.clean-link {
  all: unset;
}

a,a:hover,a:click, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
  all: unset;
}

.circle-image {
  height: 45px;
  /* clip-path: circle(); */
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px #b5b5b55b);
}

.shadow-text {
  text-shadow: 0px 0px 12px #b5b5b55b;
}
input[type=file]::file-selector-button {
  border: 0px;
  border-radius: 1em;
  background-color: #2b4170;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
  transition: 1s;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  color: white;
}

.file-selected {
  background-color: #3fb300;
  background: -moz-linear-gradient(top, #3b986e, #06d136);
  background: -ms-linear-gradient(top, #3b986e, #06d136);
  background: -webkit-linear-gradient(top, #3b986e, #06d136);
}



#leaderboard  {
  position: -webkit-sticky;
  position: sticky;
  top: 12px; 
  left: 8px;
  z-index: 100;
  width: calc(100% - 16px);
  height: 50px;
  border-width: 0px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leaderboard-inactive {
  /* background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
  background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
   background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
    */
    box-shadow: 0px 0px 2px #4d4d4d95;
   color: lightslategray;
   transition:2s; 
}

.leaderboard-active {
  background-color: #2b4170;
  background: #2b4170;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(45deg, #632b70 , #3b5998);

  color:  white;
  box-shadow: 0px 0px 5px #666666fd;
  transition: 2s;
}

.ai-rating {
  background-color: #354259;
  
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #36508a, #2b4170);
  color:  white;
  box-shadow: 0px 0px 10px #b5b5b55b;
  background-color: "rgba(217, 217, 217, 0.47)";
  border-width:   0px;
  border-radius: 8px;
  font-size: 20px;
  display:flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}

.community-rating {
  /* background-color:  #554994; */
  background: rgb(52,29,172);
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color:  white;
  background-color: "rgba(217, 217, 217, 0.47)";
  box-shadow: 0px 0px 10px #b5b5b55b;
  border-width:   0px;
  border-radius: 8px;
  font-size: 20px;
  display:flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-left: 8px;
  margin-top: 16px;
  padding-left: 4px;
  padding-right: 4px;

}

.like-button {
/* box-shadow: 0px 0px 15px #b5b5b5b9; */
}

.like-button-selected {
  background: rgb(22,34,42);
background: linear-gradient(90deg, rgba(22,34,42,1) 0%, rgba(58,96,115,1) 50%);
color : white
}

.floating-button {
  position:fixed;
  width: 100vw;
  bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.instructions {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.451);
  border-radius: 8px;
  border-width: 4px;
  border-style: dashed;
  border-color: gray;

}

 .bounce {
    -webkit-animation: bounce 10s infinite;
    animation: bounce 10s infinite;
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px); 
    transform: translateY(-30px);
    transform: scale(1.15);}
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  } }


 @keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 90% { transform: rotate(-5deg); }
 100% { transform: rotate(0deg); }
}

.wiggle {
display: inline-block;
animation: wiggle 5s infinite;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #36508a;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}


.bubble {
	height: 40px;
	width: 40%;
	background: white;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
}

.pointer {
	height: 40px;
	width: 10px;
	background: white;
	margin: 0 auto;
	/* transform: rotate(45deg); */
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw );
}

.blurred {
	background: gray;
	filter: blur(20px);
	position: relative;
	top: -315px;
/* 	transform: scale(1.05); */
	z-index: -1;
}




.chat-form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.send-message-button {
  width: 30vw;
  background-color: #3b5998;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}


.chat-input {
  line-height: 1.5;
  width: 100vw;
  font-size: 1.5rem;
  background: #354259;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}


.chat-text {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}
